[class*="col-"] {
  float: left;
}
body {
}

/* navigation bar */
nav {
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  z-index: 2;
}
#logo {
  width: 180px;
  line-height: 60px;
  vertical-align: middle;
  margin-top: 12px;
}
i {
  margin-left: 3px;
}
.menu_style ul {
  list-style: none;
  line-height: 60px;
}
.menu_style ul li {
  display: inline-block;
  margin-left: 10px;
}
.menu_style ul li a {
  color: #141414;
}
#sign_up {
  color: #024AFE;
  padding: 10px;
  border: 1px solid #024AFE;
  border-radius: 3px;
}
.fa-bars {
  float: right;
  padding-right: 15px;
  color: #024AFE;
  font-size: 20px;
  line-height: 60px;
}

/* jumbotron */

.jumbo {
  position: relative;
  top: 60px;
  width: 100%;
  background-color: blue;
}
h1 {
  margin-top: 50px;
  font-size: 65px;
  color: white;
}
#jumbo_paragraph {
  font-size: 20px;
  color: white;
  opacity: 0.7;
}
.form_container {
  margin-top: 45px;
  margin-bottom: 80px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
h4 {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}
#form_title {
  color: #024AFE;
}
.btn_primary {
  width: 100%;
  height: 30px;
  background-color: #5899FF;
  border: 0px;
  border-radius: 5px;
  color: white;
}
.btn_google {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
}
.fa-google {
  float: left;
  margin-top: 3px;
  color: grey;
}
.form_container a {
  text-decoration: underline;
}

/* sezione loghi */

.container_loghi {
  width: 100%;
  background-color: #F2F5F9;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 100px;
}
#little_title {
  color: darkgrey;
  font-size: 15px;

}
.container_loghi .container {
  text-align: center;
}
.row .col-xs-6 img {
  width: 95%;
}
.view_customers {
  font-size: 15px;
  color: blue;
}

/* sezione deploy */

.section_deploy {
  width: 100%;
  padding-top: 40px;
}
h2 {
  text-align: center;
  color: #031c4e;
}
h3 {
  text-align: center;
  font-size: 20px;
  color: #586686;
}
.container_80 {
  width: 80%;
  padding-top: 40px;
  margin: auto;
  padding-bottom: 40px;
}
.container_80:after {
  content: "";
  display: table;
  clear: both;
}
.container_80 ul {
  list-style: none;
  float: left;
}
.container_80 li {
  font-size: 20px;
  color: #586686;
  padding-bottom: 20px;
  padding-left: 20px;
  border-left: 1px solid grey;
}
.little_icon {
  margin-bottom: 20px;
}
.icon_title {
  color: #031c4e;
}
.icon_paragraph {
  text-align: left;
  padding-top: 20px;
  font-size: 15px;
  color: #586686;
}

/* sezione designed */

.section_designed {
  width: 100%;
  background-color: #f3f5f9;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}
.carousel {
  width: 60%;
  margin: auto;
  margin-top: 75px;
}
[class*="arrow-"] {
  display: inline-block;
  font-size: 30px;
  color: blue;
}
.carousel img {
  width: 90%;
  margin-bottom: 20px;
  padding: 0 20px;
}
.carousel_list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.carousel_list > li {
  display: inline-block;
  color: blue;
}

/* sezione features */

.section_features {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
}
.section_features h2 {
  padding-bottom: 30px;
}

/* sezione services */
.section_services {
  padding-top: 40px;
  padding-bottom: 50px;
  width: 100%;
  background-image: linear-gradient(#0047c5, #001e99);
}
.section_services h2 {
  color: white;
}
.services {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}
.services:after {
  content: "";
  display: table;
  clear: both;
}
.code {
  color: white;
  float: left;
  width: 20%;
}
.country {
  color: white;
  float: left;
  width: 60%;
}
.link {
  color: white;
  float: left;
  width: 20%;
}

/* sezione development */

.section_development {
  text-align: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #f3f5f9;
}
.section_development h3 {
  padding-bottom: 60px;
}
.carousel_development {
  display: inline-block;
  width: 60%;
  padding-bottom: 30px;
  margin: auto;
  background-color: white;
  margin: 20px;
  vertical-align: middle;
}
.section_development span {
  display: block;
}
#logo_rockerbox {
  width: 40%;
  margin-top: 30px;
}
#name_autor {
  display: block;
  color: #001e99;
  padding-top: 0;
  margin-bottom: 40px;
}

/* sezione get started */

.section_started {
  padding-top: 40px;
  padding-bottom: 60px;
  width: 100%;
  background-image: linear-gradient(#0047c5, #001e99);
  text-align: center;
}
.section_started h2 {
  color: white;
  margin-bottom: 30px;
}
#create_account {
  background-color: white;
  color: blue;
  font-size: 20px;
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px;
}

/* footer */
.footer_container {
  width: 100%;
  background-color: #000F28;
  padding-top: 60px;
}
.inline {
  display: block;
  color: #7A869D;
}
.loghetto {
  margin-bottom: 10px;
}
.footer_container ul {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}
.social_icons {
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
}

.footer_container ul li i {
  color: #7A869D;
}
.col-lg-2 a {
  color: #7A869D;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
}
.col-lg-2 ul {
  margin-bottom: 50px;
}
.col-lg-2 ul > :first-child {
  color: white;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 5px;
}



/* medie query */
@media screen and (max-width: 1200px) {

  /* sezione design */

  .carousel {
    width: 80%;
    margin: auto;
    margin-top: 75px;
  }
  .carousel img {
    width: 80%;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  /* sezione services customer */

  #left_services {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }

  /* sezione design */

  .carousel {
    width: 80%;
    margin: auto;
    margin-top: 75px;
  }

}

@media screen and (max-width: 767px) {

  /* sezione loghi */
  .row .col-xs-6 {
    height: 110px;
  }
  .row .col-xs-6 img {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }

  /* sezione deploy */
  .container_80 {
    width: 100%;
    float: left;
    padding-top: 40px;
    margin: auto;
  }
  .container_80 ul {
    list-style: none;
    padding-left: 0;
    float: left;
  }

  /* sezione designed */
  [class*="arrow-"] {
    display: none;
  }
  #carousel_list > li {
    font-size: 12px;
  }

}
