[class*="col-"] {
  float: left;
}
body {
}

/* navigation bar */
nav {
  width: 100%;
  height: 60px;
  background-color: white;
}
#logo {
  width: 180px;
  line-height: 60px;
  vertical-align: middle;
  margin-top: 12px;
}
i {
  margin-left: 3px;
}
.menu_style ul {
  list-style: none;
  line-height: 60px;
}
.menu_style ul li {
  display: inline-block;
  margin-left: 10px;
}
.menu_style ul li a {
  color: #141414;
}
#sign_up {
  color: #024AFE;
  padding: 10px;
  border: 1px solid #024AFE;
  border-radius: 3px;
}
.fa-bars {
  float: right;
  padding-right: 15px;
  color: #024AFE;
  font-size: 20px;
  line-height: 60px;
}

/* jumbotron */

/* .jumbo [class*="col-"] {
  float: left;
  height: 200px;
  background-color: white;
  border: 1px solid black;
} */
.jumbo {
  width: 100%;
  background-color: blue;
}
h1 {
  margin-top: 50px;
  font-size: 65px;
  color: white;
}
#jumbo_paragraph {
  font-size: 20px;
  color: white;
  opacity: 0.7;
}
.form_container {
  margin-top: 45px;
  margin-bottom: 50px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}
#form_title {
  color: #024AFE;
}
.btn_primary {
  width: 100%;
  height: 30px;
  background-color: #5899FF;
  border: 0px;
  border-radius: 5px;
  color: white;
}
.btn_google {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
}
.fa-google {
  float: left;
  margin-top: 3px;
  color: grey;
}
.form_container a {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
}
